<div class="col-md-8 col-md-offset-2">
  <h3>
    <%= @post.title %><br>
    <small>
      Posted by <%= link_to user_path(@post.user) do%><%= @post.user.name %><% end %> on <%= @post.created_at.to_formatted_s(:long_ordinal) %>
    </small>
  </h3>
  <hr>
  <span class="text-center">
    <p><%= link_to (image_tag @post.image.url(:large)), @post.image.url %></p>
  </span>
  <hr>
  <p><%= @post.body %></p>
  <small>
    <p class="text-right">
      <%= link_to edit_post_path(@post) do %><i class="fa fa-cog"></i> Edit Post<% end %> |
      <%= link_to post_path(@post), :data => {:confirm => "Do you really want to delete this post?", :method => "delete"} do %><i class="fa fa-trash-o"></i> Delete Post<% end %>
    </p>
  </small>
  <hr>

  <h4 class="text-center">
    <% if !current_user %>
      Login to join the conversation
    <% else %>
      <%= link_to new_post_comment_path(@post), remote: true, id: "new_comment_button", :class => "btn btn-sm btn-primary" do %><i class="fa fa-comments-o"></i> Add Comment<% end %>
    <% end %>
  </h4>

  <% if @post.comments.any? %>
     <div id="comments">
       <%= render @comments %>
     </div>
   <% else %>
     <h2 id="no_comments">No comments, yet!</h2>
     <div id="comments"></div>
   <% end %>
</div>
